<h1>Search</h1>
<%= form_with url: '/search', method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit 'Search' %>
<% end %>

<% if @results != nil %>
  <% @results.each_with_index do |result, i| %>
    <p><strong><%= "#{i+1}: #{result.name} #{ result.premiered.strftime('%Y') if result.premiered }" %></strong></p>
    <p><%= result.summary %>
  <% end %>

    <!-- Edit this button to add a show to the User's favorite shows -->
    <%# <!-- <%=# button_to "Add #{i+1}: #{result.name}", '/shows', params: { show_id: result.id } %> --> %>
<% end %>