<!DOCTYPE html>
<html>
  <head>
    <title>TvShowDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <%= "Logged in as: #{current_user.username}" %>
      <%= button_to 'Logout', '/logout', method: :delete %>
    <% else %>
      <%= button_to 'Login', '/login', method: :get %>
    <% end %>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
